
.container{
    padding-top:100px;
    width: 100%;
    margin: 0 auto;
}

.quiz-container{
    margin: 30px auto;
    padding: 50px;
    text-align: center;
    width: 50%;
    background-color: white;
    border-radius: 20px;
}

.question{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}


.answerVerification p{
    padding: 20px;
    margin: 15px 5px;
    font-size: 1.2rem;
    color: #fff
}

.answer{
    display: flex;
    flex-direction: column;
}

.answer input{
    display: none;
} 

.answer label{
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 10px;
    cursor: pointer;
    background-color: #ddd;
    border-radius:10px;
    padding: 10px;
}

.answer label:hover{
    background-color: #46dbaf;
    box-shadow: 0px 5px 10px 3px rgba(138, 138, 138, 0.2);

    
}


.quiz-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 10px;
    width: 100px;
  }
  
  .buttondiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  .quiz-container {
    padding: 70px;
    text-align: center;
  }
  
  #restart {
    background-color: #46dbaf;
    display: block;
    margin: 0 auto;
  }
  
  #restart:hover {
    background-color: #29662b;
  }


.answer input[type="radio"]:checked + label{
    background-color: #46dbaf;
}
.quiz{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #0b98d0de;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    justify-content: center;
}

.quiz-btn{
    width: 50%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #0b98d0de;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    justify-content: center;
}

.quiz-btn:hover{
    background-color: #0f0f0fde;
    color: white;
}

#progressBarContainer{
    width: 100%;
    height: 40px;
    background-color: #ddd;
    border: none;
    margin-bottom: 20px;
}

#progressBar{
    height: 40px;
    background-color: #4caf50;
    width: 0%;
    transition: width 1s;
}

#correctAnswer{
    font-weight: bold;
}

#quizResult{
    font-size: 1.5rem;
}
